<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.iit.domain.UserDTO" />
<!--         <mapping class="com.iit.domain.UserLoginDTO" /> -->
<!--         <mapping class="com.iit.domain.TopQuestionsDTO" /> -->
<!--         <mapping class="com.iit.domain.UserDetailsDTO" /> -->
<!--         <mapping class="com.iit.domain.AnswersDTO" /> -->
    </session-factory>
</hibernate-configuration>